body{
	font-family: 'Arial', sans-serif;
	font-size: 1.5em;
	color: white;
	background: #0C3626;
	text-align: center;
}

.btn{
	display: block;
	color: white;
	padding: 1em;
	background: #26D072;
	border: 3px solid white;
	margin: 1em;
	text-decoration: none;
	transition: .2s;
}

.btn:hover{
	transform: scale(1.1);
}

p{
	color: salmon;
	text-align: center;
}

p a{
	color: white;

}
@media (min-width: 900px){
	.btn{
		display: inline-block;
	}
}